
.color-navbar {
    background-color: rgb(81, 83, 199);
}

.color-item-carrito {
    background-color: rgb(185, 111, 255);
}

.brand{
    letter-spacing: 5px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease-in-out;
    text-align: center;
    font-weight: bold;
}

.brand:hover {
    color: #e7a02e !important;
    transition: 0.25s ease-in-out;
}

.texto-navbar {
    color: white !important;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 20px;
    transition: 0.25s ease-in-out;
    font-size: 18px;
}

.texto-navbar:hover {
    color: #e7a02e !important;
    text-decoration: underline;
    transition: 0.25s ease-in-out;
}

.carrito-size {
    width: 30px;
}

.cantidad-producto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-producto p{
    width: 60px;
}

.fa-cart-shopping {
    color: white;
    transition: 0.25s ease-in-out;
}

.fa-cart-shopping:hover {
    color: #e7a02e;
    transition: 0.25s ease-in-out;
}

.margenes {
    margin:10px ;
}

.container-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-botones .btn-group{
    margin-bottom: 5px; 
    display: flex;
    align-items: baseline;

}

.card-title {
    font-size: 16px;
    font-weight: 400;
}

.card-text {
    font-weight: 600;
}

.btn-custom {
    color: #fff;
    background-color: #4e6bff;
    border-color: #4e6bff;
    transition: 0.25s ease-in-out;
}

.btn-custom:hover {
    background-color: #3248ff;
    border-color: #3248ff;
    transition: 0.25s ease-in-out;
}

.contador-size {
    width: 50px;
    text-align: center;
}

.card {
    box-shadow: 3px 8px 7px 0px rgb(89, 104, 118);
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

.flex-item-detail {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.item-detail-size {
    width: 800px;
}

.detail-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-text h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}

.item-detail-precio {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

.card-item-detail {
    border: solid 1px lightgray;
    border-radius: 10px;
    box-shadow: 3px 8px 7px 0px rgb(89, 104, 118);
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    min-height: 550px;
}

.titulo-carrito {
    font-size: 50px;
    margin-top: 10px;
}

.contenedor-producto-carrito {
    display: flex;
    margin: 5px 0;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    align-items: center;
}

.imagen-carrito {
    width: 100px;
}

.nombre-carrito {
    width: 500px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    align-content: center;
    margin: 0 20px;
}

.precio-carrito {
    font-size: 20px;
    font-weight: 700;
    align-content: center;
    margin: 0 20px;
}

.precio-cantidades {
        font-size: 20px;
        font-weight: 400;
        align-content: center;
        margin: 0 20px;
}

.total-carrito {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total-carrito p{
    font-size: 20px;
    font-weight: 700;
}

.emptyCart {
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.icono-carrito {
    color: black;
}

.titulo-carrito-vacio {
    width: 1000px;
    margin: 50px 0;
    text-align: center;
    font-size: 30;
}

.imagen-carrito-vacio {
    color: black !important;
    font-size: 50px;
    margin-top: 50px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    padding: 10px 0;
    margin-top: 20px;
}

.texto-footer {
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.footer-redes {
    list-style: none;
    display: flex;
}

.footer-redes li {
    display: inline-block;
    margin: 0 20px;
}

.footer-redes li a {
    color: #ffffff;
    font-size: 30px;
    transition: 0.25s ease-in-out;
}

.footer-redes li a:hover {
    color: #e7a02e;
    transition: 0.25s ease-in-out;
}

.container-checkout {
    min-height: 500px;
    margin-top: 100px;
}

.compra-realizada {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compra-realizada h3 {
    margin-bottom: 50px;
}

.compra-realizada button {
    margin-top: 25px;
}

.fa-circle-check {
    font-size: 100px;
}

.numero-orden {
    font-weight: 700;
}

.container-loading {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spinner-size {
    width: 150px;
    height: 150px;
}